body {
    background: url(Image/Scandinavian_1024x1024.webp);
    background-size: cover;
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
}

.bg{
	background: url(image/Scandinavian_1024x1024.webp);
    /* background-size: cover; */
	height: 150dvh;
	width: 100%;
	position: absolute;
	background-size: cover; 
    background-position: center;
	filter: blur(5px);
	z-index: -1;
	opacity: 0.7;
	filter: brightness(50%);
    margin: 0px;
    padding: 0px;
}

.faq {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

h1 {
    text-align: center;
    color: rgb(32, 31, 31);
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    font-weight: bold;
    color: green;
    cursor: pointer;
    margin: 0;
}

.answer {
    font-size: 16px;
    margin: 10px 0;
    display: none;
}

.faq-item.active .answer {
    display: block;
}

.faq-item:hover .question {
    color: white;
}

.faq-item.active .answer {
    display: block;
}

.back-home {
    text-align: center;
    margin-top: 30px;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right,lightgreen,green);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background: linear-gradient(to left,lightgreen,green);
}

.box {
    width: 800px;
    height: 100%;
    box-shadow: 0 0 8px skyblue;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #e4e4e4;
    opacity: 80%;
}
